h1, h2, h3, h4 {
	text-align: center;
	font-family: "Verdana", sans-serif;
}

div.post {
	margin: 10px 0px;
	background-color: #0000C0;
	border: 5px outset #C00000;
	padding: 0px 15px;
	display: block;
}

body {
	padding: 0px;
	font-family: "Arial", sans-serif;
	text-align: left;
}

html {
	margin: 0px;
	color: #FFFFFF;
	background: url(/res/images/bkg.png) no-repeat fixed;
}
